.nav-link {
    text-decoration: none;
    color: #fff;
    margin-right: 16px;
}

.nav-link_type_main {
    display: none;
}

.nav-link_type_profile {
    margin-right: 0;
    text-align: center;
    width: 100px;
    background-color: #313131;
    border-radius: 20px;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: opacity 0.3s ease;
}

.nav-link_type_signup {
    margin-right: 0;
}

.nav-link_type_signin {
    margin-right: 0;
    width: 76px;
    background-color: #3ddc84;
    border-radius: 3px;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    transition: opacity 0.3s ease;
}

.nav-link_text_small {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}
.nav-link_text_medium {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}

.nav-link_text_large {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.nav-link_color_dark {
    color: #000;
}

.nav-link_active {
    font-weight: 500;
}
@media (hover: hover) and (pointer: fine) {
    .nav-link_type_signin:hover {
        opacity: 0.8;
    }
}

@media (max-width: 880px) {
    .nav-link {
        display: inline-block;
        margin-right: 0;
        padding-bottom: 7px;
    }

    .nav-link_active {
        border-bottom: 1px solid #fff;
    }

    .nav-link_type_main {
    }

    .nav-link_type_signup {
        padding-bottom: 0;
    }

    .nav-link_text_medium {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }
}

@media (max-width: 500px) {
    .nav-link_text_small {
        font-size: 10px;
    }
}
