.about-project {
    padding: 110px 70px;
}

.about-project__table {
    margin: 70px 0 0;
    display: flex;
    gap: 40px;
    padding: 0;
}

.about-project__cell {
    width: 100%;
    list-style-type: none;
}

.about-project__subtitle {
    margin: 0 0 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
}

.about-project__description {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.about-project__progress {
    margin: 110px 0 0;
    display: flex;
    padding: 0;
    text-align: center;
    color: #8B8B8B;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.about-project__back {
    list-style-type: none;
    width: 20%;
}

.about-project__front {
    list-style-type: none;
    width: 80%;
}

.about-project__bar-back {
    height: 36px;
    background-color: #3DDC84;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.about-project__bar-front {
    height: 36px;
    background-color: #303030;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
}

@media (max-width: 880px) {
    .about-project {
        padding: 90px 50px;
    }

    .about-project__table {
        gap: 30px;
    }

    .about-project__subtitle {
        margin-bottom: 22px;
    }

    .about-project__description {
        font-size: 12px;
        line-height: 18px;
    }

    .about-project__progress {
        margin-top: 93px;
    }
}

@media (max-width: 700px) {
    .about-project {
        padding: 70px 18px;
    }

    .about-project__table {
        margin-top: 60px;
        flex-direction: column;
        gap: 56px;
    }

    .about-project__subtitle {
        margin-bottom: 16px;
        font-size: 18px;
        line-height: 22px;
    }

    .about-project__description {
        font-size: 11px;
        line-height: 16px;
    }

    .about-project__progress {
        margin-top: 60px;
        font-size: 11px;
        line-height: 13px;
    }

    .about-project__back {
        width: 35%;
    }
    
    .about-project__front {
        width: 65%;
    }

    .about-project__bar-back {
        height: 35px;
        margin-bottom: 10px;
    }
    
    .about-project__bar-front {
        height: 35px;
        margin-bottom: 10px;
    }
}
