.footer {
    padding: 79px 70px 0;
    flex-shrink: 0;
}

.footer__subtitle {
    margin: 0;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #8b8b8b;
    padding-bottom: 20px;
    border-bottom: 1px solid #424242;
}

.footer__description {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.footer__copyright {
    margin: 0;
}

.footer_links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer_link {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    color: #ffffff;
    text-decoration: none;
}

@media (max-width: 880px) {
    .footer {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 500px) {
    .footer {
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer__subtitle {
        font-size: 12px;
        line-height: 15px;
        padding-bottom: 21px;
    }

    .footer__description {
        flex-direction: column-reverse;
        gap: 30px;
        align-items: center;
        padding: 30px 0 10px;
        font-size: 12px;
        line-height: 15px;
    }

    .footer__copyright {
        color: #8b8b8b;
    }

    .footer_links {
        flex-direction: column;
        gap: 12px;
    }
}
